* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  perspective: 1000px;
  overflow: hidden;
}

.container a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
}

.controls {
  position: absolute;
  display: flex;
  z-index: 10;
  top: 0;
  right: 0;
  margin: 5px 10px;
}

.play {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  border: none;
  background-image: url('assets/play_arrow_white_24dp.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.mute {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  border: none;
  background-image: url('assets/volume_off_white_24dp.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.mute:hover {
  transform: scale(1.1);
}

.play:hover {
  transform: scale(1.1);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 450px;
  background-image: url('assets/brown-texture.jpg');
  background-size: cover;
  height: 250px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.circle {
  width: 100px;
  height: 100px;
  margin: 0 10px;
  border: 2px solid black;
  border-radius: 5rem;
}

.triangle {
  position: relative;
  width: 120px;
  height: 100px;
  border-bottom: 2px solid black;
  margin: 0 10px;
}

.triangle::before {
  content: '';
  position: absolute;
  top: -11px;
  left: 30px;
  border-left: 2px solid black;
  transform: rotate(30deg);
  height: 120%;
}

.triangle::after {
  content: '';
  position: absolute;
  top: -11px;
  right: 30px;
  border-right: 2px solid black;
  transform: rotate(-30deg);
  height: 120%;
}

.square {
  width: 100px;
  height: 100px;
  margin: 0 10px;
  border: 2px solid black;
}

.back {
  position: absolute;
  z-index: -1;
}

.number {
  transform: rotateY(-180deg);
}

.icon img {
  margin-left: 20px;
  width: 50px;
  height: 50px;
}

#squid {
  position: fixed;
  width: 100vw;
  height: 80vh;
  transform: scale(2);
  z-index: -1;
}

.flip {
  transform: rotateY(180deg);
}